In [28]:
import pdfplumber
import pandas as pd
import re

In [122]:
def extractor(path):   
    with pdfplumber.open(path) as pdf:
        page = pdf.pages[0]
        text = page.extract_text()
    ref = []
    for row in text.split('\n'):
        if row.startswith('AR'):
            ref.append(row)
        if row.startswith('CL'):
            ref_client = row.split(' ')[0]
            date = row.split(" ")[1]
        if row.startswith('FA'):
            fact_num = row
    df = pd.DataFrame(columns=['ref_client','fact_num','code_article','desc','qtt','pu','total','tva','date'])
    for row in enumerate(ref):

        valeur = re.compile(r"\s\d.*")
        code_r = re.compile(r"^AR\d{5}")
        desc_r =re.compile(r"\s\D.*\D\s")

        qtt, pu, total, tva = valeur.search(ref[0])[0].split()
        desc = desc_r.search(ref[0])[0]
        code = code_r.search(ref[0])[0]

        df = df.append({
            'ref_client': ref_client,
            'fact_num': fact_num,
            'code_article': code,
            'desc': desc,
            'qtt': qtt,
            'pu': pu,
            'total': total,
            'tva': tva,
            'date': date
            }, ignore_index=True)
    return df

In [123]:
extractor(path)

,ref_client,fact_num,code_article,desc,qtt,pu,total,tva,date
0,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
1,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
2,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
3,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
4,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
5,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
6,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
7,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
8,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
9,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020
10,CL00512,FA00002789,AR00098,SAS CLUB VICHY RougeGM,"6,00","12,50","75,00","20,00",19/06/2020